* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

}

.carousel-item img{
     height: 700px;
}

.list-group {
     width: 75%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.list-group-container {
     display: flex;
     align-items: center;
     justify-content: center;
}

.video-table td {
     width: 25%;
}

.video-table iframe {
     width: 100%;
     height: auto;
     aspect-ratio: 16 / 9;
}
.video-table table{
     table-layout: fixed;
     width: 100%;
}

body {
     font-family: 'Spline Sans', sans-serif;
     background: radial-gradient(#fff, #15be7b);
}

.wide-img {
     flex-shrink: 0;
     min-width: 100%;
     max-width: 100%;
     height: auto;
}

.logo {
     width:20%;
}

.intro-photo {
     width: 95%;
}

.header .row {
     margin-top: 70px;
}

.navbar {
     display: flex;
     align-items: center;
     padding: 20px;
}

nav {
     flex: 1;
     text-align: right;
}

nav ul {
     display: inline-block;
     list-style-type: none;
}

nav ul li {
     display: inline-block;
     margin-right: 20px;
}

a {
     text-decoration: none;
     color: #555;
}

p {
     color: #555;
}

.container {
     max-width: 1300px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
}

.transparent-box {
margin: 30px;
background-color: #ffffff;
/* border: 1px solid black; */
opacity: 0.7;
}

.footer {
     position: absolute;
     bottom: 0;
     width: 100%
}
