* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

}

.paragraphs {
     padding: 25px 50px 25px 50px;
     text-align: center;
}

.carousel-item img{
     height: 600px;
}

.list-group {
     width: 75%;
     display: flex;
     align-items: center;
     justify-content: center;
}

.list-group-container {
     display: flex;
     align-items: center;
     justify-content: center;
}

.video-table td {
     width: 25%;
}

.video-table iframe {
     width: 100%;
     height: auto;
     aspect-ratio: 16 / 9;
}
.video-table table{
     table-layout: fixed;
     width: 100%;
}

body {
     font-family: 'Spline Sans', sans-serif;
     background: radial-gradient(#fff, #15be7b);
}

.wide-img {
     flex-shrink: 0;
     min-width: 100%;
     max-width: 100%;
     height: auto;
}

.logo {
     width:20%;
}

.intro-photo {
     width: 95%;
}

.header .row {
     margin-top: 70px;
}

.navbar {
     display: flex;
     align-items: center;
     padding: 20px;
}

nav {
     flex: 1;
     text-align: right;
}

nav ul {
     display: inline-block;
     list-style-type: none;
}

nav ul li {
     display: inline-block;
     margin-right: 20px;
}

a {
     text-decoration: none;
     color: #555;
}

p {
     color: #555;
}

.container {
     max-width: 1300px;
     margin: auto;
     padding-left: 25px;
     padding-right: 25px;
}

.transparent-box {
margin: 30px;
background-color: #ffffff;
/* border: 1px solid black; */
opacity: 0.7;
}

.footer {
     position: absolute;
     bottom: 0;
     width: 100%
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
     width: 100%;
     /* Full width */
     padding: 12px;
     /* Some padding */
     border: 1px solid #ccc;
     /* Gray border */
     border-radius: 4px;
     /* Rounded borders */
     box-sizing: border-box;
     /* Make sure that padding and width stays in place */
     margin-top: 6px;
     /* Add a top margin */
     margin-bottom: 16px;
     /* Bottom margin */
     resize: vertical
          /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
     background-color: #04AA6D;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
     background-color: #45a049;
}

/* Add a background color and some padding around the form */
.form-container {
     border-radius: 5px;
     background-color: #f2f2f2;
     padding: 50px;
}
